.main-page-video {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.main-page-video .col1 span {
  display: none;
}

.video-container {
  margin-top: 2rem;
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.single-video {
  width: 700px;
  height: 393px;
  position: relative;
}

.video-player-wrapper {
  width: 700px;
  height: 393px;
}

.video-player-wrapper iframe {
  width: 100%;
  height: 100%;
}

.video-options {
  background-color: var(--pink-dark);
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.video-options img {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.video-options i {
  font-weight: 16px;
  font-size: 1.7rem;
  cursor: pointer;
}
.fa-thumbs-up,
.fa-thumbs-down {
  color: white;
}
.selectedTrue{
  color:black;
}
.selectedFalse{
  color:white;
}
.description > * {
  padding-right: 2rem;
}

.single-video-logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.single-video-title {
  text-align: left;
  margin-left: 1rem;
  margin-top: 8px;
}
.des-container {
  background-color: var(--pink-dark);
}
.video-recommendation{
  height: 32rem;
  overflow-y: scroll;
}

.modal{
  position: absolute;
top:3rem;
right:4rem;
}

@media only screen and (max-width: 1150px) {
  .video-player-wrapper,
  .single-video {
    width: 470px;
    height: 264px;
  }

  .video-recommendation{
    height: 27rem;
  }
}

@media only screen and (max-width: 900px) {
  .video-recommendation {
   margin-top:10rem;
   overflow-y: hidden;
   height:auto;
  }

  .video-player-wrapper,
  .single-video {
    width: 600px;
    height: 337px;
  }
}

@media only screen and (max-width: 700px) {
  .main-page-video {
    margin-top: 2rem;
  }
  .video-player-wrapper,
  .single-video {
    width: 400px;
    height: 225px;
  }
}
